<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751113835114-r0auk6l8osco05enpmo5s7j795kln9v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751113835114-r0auk6l8osco05enpmo5s7j795kln9v6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751113835114-339qsda0tqur9pmcfeu41b51kcg3nv7i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJOb86hlHRH7CQIIfjGoU15zGkwEKHhvk</string>
	<key>GCM_SENDER_ID</key>
	<string>751113835114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMixcallNormaluser</string>
	<key>PROJECT_ID</key>
	<string>mixcall</string>
	<key>STORAGE_BUCKET</key>
	<string>mixcall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751113835114:ios:1182aed24e9a0e6852f013</string>
</dict>
</plist>